# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties

# Mac OS
.DS_Store

# Windows
Thumbs.db

# Jetpack Compose Preview cache
*.preview

# Others
.cxx/
